<!DOCTYPE html>
<html>
<div class = "container">
    <a href="/scrape">scrape</a>
    <a href="/articles">articles</a>
    <a href="/clear">clear db</a>
<div id = "article-container">
{{!-- this is where the ariticles block will go --}}articles
</div>
<div id ="comment-section">
{{!-- this is where the comments will go --}}comments
</div>
</div>
</html>